.container {
  margin: 0 auto;
  max-width: 768px;
}
.hidden {
  display: none;
}

figure {
  position: relative;
  top: 50%;
  min-width: 40px;
  max-width: 120px;
}

figure img {
  min-width: 50px;
  width: 110%;
}

.deck {
  background-color: #9c9890;
  border: 2px solid #000;
  box-shadow: 10px 10px 5px rgba(0,0,0,.5);
  border-radius: 10px;
  margin: 10px;
  min-height: 200px;
  max-width: 768px;
}
.hold {
  display: none;
  border: 1px solid #CCC;
  background: rgba(0,0,0,.5);
  width: 88%;
  height: 40px;
  position: absolute;
  float: left;
  top: 80px;
  left: 10%;
  color: #fff;
  font-weight: bold;
  font-size: 1.75em;
}

input[type=checkbox] {
  font-size: 2em;
}
input[checked] + .hold {
  display: block;
}

.prizes {
  margin: 0 auto;
  border: 1px solid grey;
  font-size: 1em;
  tr {
    td {
      padding: 5px;
    }
    td:first-child {
      font-weight: bold;
    }
    td:last-child {
      color: #9c2324;
    }
  }
}

.figure .card, .hand, .result, input[type="checkbox"] {
  display: none;
}

.card {
  cursor: pointer;
}